#Website_Title{
  font-family: sans-serif;
  color: #73877B;
  font-size: 3.5em;
}

#Page_Title{
  font-family: ;
  color: #9684a1;
  text-decoration: underline;
  padding-bottom: 20px;
  font-size: 3em;
}

#Earth {
  text-align: center;
  color: #73877B;
  font-size: 25px;
}

#Earth_Info{
  text-align: center;
  color: #73877B;
  font-size: 20px
}

#CliCha{
  text-align: center;
  color: #73877B;
  font-size: 25px;
}

#HumIm{
  text-align: center;
  color: #73877B;
  font-size: 25px;
}

#CliCha_Info{
  text-align: center;
  color: #73877B;
  font-size: 20px;
}

#Tips_Bullets{
  background-color: #7e4e60;
  border-radius: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px grey;
}

#Apps_Bullets{
  background-color: #7e4e60;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px grey;
}

#Links_Bullets{
  background-color: #7e4e60;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 5px grey;
}

#Links_Bullets_Item{
  text-decoration: none;
}
